body{
  background-color: #ffffff;
  color: #ff0000;
  font-family: Arial, Helvetica, sans-sarif;
  margin: 12% 24%;
}

.exp-header{
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid #ff0000;
  border-bottom: 1px solid #0000ff;
  background-color: rbga(0,0,0,0)
}
