body{
  background-color: #ffffff;
  background-image: url("https://img.freepik.com/free-vector/white-background-with-triangle-patterns_1017-18410.jpg?size=626&ext=jpg");
  color: #ff0000;
  font-family: Arial, Helvetica, sans-sarif;
  margin: 12% 24%;
}

.exp-header{
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid #ff0000;
  border-bottom: 1px solid #0000ff;
  background-color: rbga(0,0,0,0)
}
